<html>
<head>
    <meta charset="utf-8">
    <title>Message</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
</head>
<body>
<nav>
</nav>
<div id="wrapper">
    <div class="message-container">
        <div class="message-north">
            <ul class="message-user-list">
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/98.jpg" style="width:40px;"></span>
                        <span class="user-title">Miras Absar</span>
                        <p class="user-desc">miras_absar@gmail.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/90.jpg" style="width:40px;"></span>
                        <span class="user-title">Yue Huang</span>
                        <p class="user-desc">yhuang@yahoo.com</p>
                    </a>
                </li>
                <li>
                    <a class="active" href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/44.jpg" style="width:40px;"></span>
                        <span class="user-title">Mark Siadat</span>
                        <p class="user-desc">mark.siadat@gmail.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/23.jpg" style="width:40px;"></span>
                        <span class="user-title">Paul McCartney</span>
                        <p class="user-desc">paulmccartney@music.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/16.jpg" style="width:40px;"></span>
                        <span class="user-title">George Harrison</span>
                        <p class="user-desc">georgeharrison@music.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/14.jpg" style="width:40px;"></span>
                        <span class="user-title">Jason Mraz</span>
                        <p class="user-desc">jasonmraz@music.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/13.jpg" style="width:40px;"></span>
                        <span class="user-title">Louis Armstrong</span>
                        <p class="user-desc">louisarmstrong@music.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/12.jpg" style="width:40px;"></span>
                        <span class="user-title">Clinton Cerejo</span>
                        <p class="user-desc">clintoncerejo@music.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/47.jpg" style="width:40px;"></span>
                        <span class="user-title">John Lennon</span>
                        <p class="user-desc">johnlennon@music.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/57.jpg" style="width:40px;"></span>
                        <span class="user-title">Joseph Arthur</span>
                        <p class="user-desc">josepharthur@music.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/46.jpg" style="width:40px;"></span>
                        <span class="user-title">Bryan Adams</span>
                        <p class="user-desc">badams@music.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/87.jpg" style="width:40px;"></span>
                        <span class="user-title">Enrique Iglesias</span>
                        <p class="user-desc">enriqueiglesias@music.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/67.jpg" style="width:40px;"></span>
                        <span class="user-title">Jack Johnson</span>
                        <p class="user-desc">jackjohnson@music.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/35.jpg" style="width:40px;"></span>
                        <span class="user-title">Paul McCartney</span>
                        <p class="user-desc">paulmccartney@music.com</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="user-img"><img src="https://randomuser.me/api/portraits/med/men/33.jpg" style="width:40px;"></span>
                        <span class="user-title">George Harrison</span>
                        <p class="user-desc">georgeharrison@music.com</p>
                    </a>
                </li>
            </ul>
            <div class="message-thread">
                <div class="message bubble-left">
                    <label class="message-user">Vikash Bajaj</label>
                    <label class="message-timestamp">2 Hours Ago</label>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis porttitor id quis ligula feugiat nunc ut nibh justo eget elit aliquet interdum tempus.</p>
                </div>
                <div class="message bubble-right">
                    <label class="message-user">Mark Siadat</label>
                    <label class="message-timestamp">2 Hours Ago</label>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nunc ut nibh interdum tempus. Donec at lorem eget sapien iaculis porttitor id quis what did you get to do last week while I was away?</p>
                </div>
                <div class="message bubble-left">
                    <label class="message-user">Vikash Bajaj</label>
                    <label class="message-timestamp">2 Hours Ago</label>
                    <p>We had a field trip last weekend to the zoo!.</p>
                </div>
                <div class="message bubble-right">
                    <label class="message-user">Mark Siadat</label>
                    <label class="message-timestamp">2 Hours Ago</label>
                    <p>That sounds like fun!</p>
                </div>
                <div class="message bubble-left">
                    <label class="message-user">Vikash Bajaj</label>
                    <label class="message-timestamp">2 Hours Ago</label>
                    <p>It was great, everyone had a great time! We can't wait to go back!</p>
                </div>
                <div class="message bubble-right">
                    <label class="message-user">Mark Siadat</label>
                    <label class="message-timestamp">2 Hours Ago</label>
                    <p>We should plan a bigger trip next time! I heard the zoo gives discounts for groups larger than 7 and I know many people would love to go see the new Lion exhibit!</p>
                </div>
                <div class="message bubble-right">
                    <label class="message-user">Mark Siadat</label>
                    <label class="message-timestamp">2 Hours Ago</label>
                    <p>:-)</p>
                </div>
                <div class="message bubble-left">
                    <label class="message-user">Vikash Bajaj</label>
                    <label class="message-timestamp">2 Hours Ago</label>
                    <p>Absolutely! I'll organize a Meetup right now for next Friday!</p>
                </div>
                <div class="message bubble-left">
                    <label class="message-user">Vikash Bajaj</label>
                    <label class="message-timestamp">2 Hours Ago</label>
                    <p>Thanks for the suggestion Mark!</p>
                </div>
            </div>
        </div>
        <div class="message-south">
            <textarea cols="20" rows="3" placeholder="Send Message"></textarea>
            <button>Send</button>
        </div>
    </div>
</div>

</body>
</html>

