<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title"> Hope Chain</br></br></br></br></br></br>{{msg}}
                    </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
