<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">Hope Chain
                </p>
                <form class="login" action="/signup" method="post">
                    <input name ="email" type="text" placeholder="Email" />
                    <input name ="username" type="text" placeholder="Username" />
                    <input name="password" type="password" placeholder="Password" />
                    <input name="firstname" type="text" placeholder="First Name" />
                    <input name="lastname" type="text" placeholder="Last Name" />

                    <input type="submit" value="Sign Up" class="btn btn-default btn-sm" />
                    <div class="remember-forgot">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
